.u-center-text{
    text-align: center;
}

.u-align-right{
    text-align: right;
}

.u-align-left{
    text-align: left;
}

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem;
}

.u-margin-bottom-big{
    margin-bottom: 8rem;
}


.u-margin-top-small{
    margin-top: 1.5rem;
}

.u-margin-top-medium{
    margin-top: 4rem;
}

.u-margin-top-big{
    margin-top: 8rem;
}

// to be deleted
.filler{ 
    background-color: $color-grey-light;
    height: 3rem;
}